.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  opacity: 1;
  width: 100%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  background-color: cadetblue;
  color: white;
  padding-left: 25px;
  margin-bottom: 30px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.iconsBlock {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.iconBlock {
  padding: 10px;
}
.page {

  color: white;
  padding: 10px;
}
.choice {
  text-decoration: none;
}





